#banner {
  background-color: black;
  width: 100%;
}

#banner .row {
  font-family: "Slimlines", sans-serif;
  text-align: center;
}

#banner h1 {
  color: #DCA424;
  font-size: 6.5rem;
  padding-top: 5%;
  line-height: auto;
}

#banner h2 {
  color: #DCA424;
  font-size: 3rem;
}

#banner h6 {
  color: #DCA424;
}

#banner .background {
  padding: 2% 40% 2%;
}

#banner p {
  color: white;
  font-family: "Slimlines", sans-serif;
  text-align: center;
  margin: 0;
}

.white {
  background-color: #FEF9EF;
  border-radius: 5px;
}

#content {
  background-color: #FEF9EF;
  padding-left: 0;
  padding-right: 0;
}

#content .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#content .row {
  margin-left: 0;
  margin-right: 0;
}

#content .head {
  font-family: "Slimlines", sans-serif;
  margin-top: 10px;
  text-align: left;
}

#content .col .col1 {
  width: 20px;
}

#content .head2 {
  font-family: "Slimlines", sans-serif;
  margin-top: 10px;
  text-align: center;
}

#content .sandwiches {
  text-align: justify;
}

#content .info {
  font-family: "Roboto", sans-serif;
  color: #FEF9EF;
  text-align: center;
  border-color: #FEF9EF;
}

#content ul {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

#content td {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

#content table {
  margin-bottom: 5%;
}

#content td .last {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  padding-bottom: 5%;
}

#content h3 {
  font-family: "Slimlines", sans-serif;
}

#content .ingredients {
  margin-top: 10px;
}

#content .col-lg-4 {
  border-style: solid;
  background-color: black;
}

.sign {
  height: 7%;
}

#about {
  padding-top: 5%;
  color: white;
  background-color: #DCA424;
}
