#banner {
  background-color: black;
  width: 100%;
}

#banner .row {
  font-family: "Slimlines", sans-serif;
  text-align: center;
}

#banner h1 {
  color: #DCA424;
  font-size: 6.5rem;
  padding-top: 5%;
  line-height: auto;
}

#banner h2 {
  color: #DCA424;
  font-size: 3rem;
}

#banner h6 {
  color: #DCA424;
}

#banner .background {
  padding: 2% 40% 2%;
}

#banner p {
  color: white;
  font-family: "Slimlines", sans-serif;
  text-align: center;
  margin: 0;
}

.white {
  background-color: white;
  border-radius: 5px;
}

#content {
  padding-left: 2%;
  padding-right: 1%;
}

#content .head {
  font-family: "Slimlines", sans-serif;
  margin-top: 10px;
  text-align: center;
}

#content .info {
  color: white;
  text-align: center;
}

#content ul {
  list-style-type: none;
}

#content h3 {
  font-family: "Slimlines", sans-serif;
}

#content .ingredients {
  margin-top: 10px;
}

#content .col-lg-4 {
  border-style: solid;
  background-color: black;
}

#about {
  padding-top: 5%;
  color: white;
  background-color: #DCA424;
}
